.signup-section {
  background-color: #f5f5f5;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  gap: 2rem;
  position: relative;
  width:100%;
}
@font-face {
  font-family: "Roslindale";
  src: url('./assets/fonts/Roslindale-DisplayCondensed.ttf') format('truetype');
  font-weight: 250;
  font-style: normal;
}
.text {
  font-size: 10vw;
  font-family: 'Roslindale';
  text-align: center;
  color:#000;
  position:relative;
  padding-top: 5vh;
  
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0 1rem;
  padding-bottom: 10vh;
  z-index: 1;
  
}

.buttons button {
  background: #000;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.buttons button:hover {
  background: #444;
}
