.adminDashBoardBody{
  background-color: white;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vh;
  
}
body{
  background-color: aliceblue;
  height: 100vh;
}
@media (max-width: 600px) {
  .tableRow{
    font-size: small;
  }
  
}


.adminDashboard{
  position: absolute;
  top: 10vh;
  color: blue;
}

.signIn{
  transition: all 0.1s;
  background-color: white;
  color: blue;
  border : 2px solid blue;

  position:absolute;
  top: 50%;
  left: 47%;
}
.signIn:hover{
  background-color: aqua;
  color: gray;
  box-shadow: 0px 0px 10px 5px blue;
}
.userButton{
  position: absolute;
  top: 3%;
  left: 3%;
}

.loadUsers{
  transition: all 0.2s;
  background-color: white;
  color: blue;
  border : 2px solid blue;
  font-size: x-large;
}
.loadUsers:hover{
  background-color: aqua;
  color: gray;
  box-shadow: 0px 0px 2px 2px blue;
}

.usersTable{
  display: flex;
  list-style:circle;
  flex-direction: column;
  list-style-type: decimal;
  font-size: xx-large;
  width: 100%;
  background-color: antiquewhite;
}

.tableRow{
  transition: all 0.2s;
  list-style: none;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}

.tableRow:hover{
  background-color: aqua;
  z-index: 1;
  transform: translateY(1px);
  box-shadow: 0px 0px 10px 5px white;

}

li{
  flex-grow: 2;
  text-shadow: 0 0 2px white;
}

.surname{
  margin: auto;
} 
.email{
  margin: auto;
}
.role{
  margin: auto;
}

.configMenu{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: -100%;
  z-index: 1;
  height: 30%;
  width: 20%;
  justify-content: space-evenly;
}

.goToBooking{
  background-color: antiquewhite;
  height: 10vw;
  border: 5px solid black;
}

.bookings{
  height: 160vh;
  width: 25vw;
  position: absolute;
  left: -25vw;
  top: 0%;
  background-color: blue;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;

}

.bookingsMenuButt{
  position: absolute;
  top: 0%;
  right: 1%;
  height: 5vh;
  background: blue;
  border-radius: 10%;
  border-top: 0.5vh solid rgb(32, 0, 128);
  border-bottom: 1vh solid rgb(32, 0, 128);
  transition: all 0.2s;
  display: flex;
}
.bookingsMenuButt:hover{
  background-color: aqua;
  color: gray;
  box-shadow: 0px 0px 10px 5px blue;
}
.bookingRow{
  background-color: white;
  border: black 1px solid;

}
.bookingRow:hover{
  background-color: aqua;
  z-index: 1;
  transform: translateY(1px);
  box-shadow: 0px 0px 10px 5px white;
}
.bookingStatus{
  width: 40%;
  background-color: aquamarine;
}
.bookingStatus:hover{
  z-index : 1;
}
  