.adminDashBoardBody{
  background-color: white;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vh;
  
}
.adminDashBoardBody>*{

}

.signIn{
  transition: all 0.1s;
  background-color: white;
  color: blue;
  border : 2px solid blue;

  position:absolute;
  top: 50%;
  left: 47%;
}
.signIn:hover{
  background-color: aqua;
  color: gray;
  box-shadow: 0px 0px 10px 5px blue;
}
.userButton{
  position: absolute;
  top: 3%;
  left: 3%;
}

.loadUsers{
  transition: all 0.2s;
  background-color: white;
  color: blue;
  border : 2px solid blue;
  font-size: x-large;
  width: 10%;
  height: 5%;
}
.loadUsers:hover{
  background-color: aqua;
  color: gray;
  box-shadow: 0px 0px 10px 5px blue;
}

.usersTable{
  display: flex;
  list-style:circle;
  flex-direction: column;
  list-style-type: decimal;
  font-size: xx-large;
  width: 100%;
  background-color: antiquewhite;
}

.tableRow{
  transition: all 0.2s;
  list-style: none;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}

.tableRow:hover{
  background-color: aqua;
  z-index: 1;
  transform: translateY(1px);
  box-shadow: 0px 0px 10px 5px blue;

}

li{
  flex-grow: 2;
  text-shadow: 0 0 2px white;
}

.surname{
  margin: auto;
} 
.email{
  margin: auto;
}
.role{
  margin: auto;
}

.configMenu{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: -100%;
  z-index: 1;
  height: 30%;
  width: 20%;
  justify-content: space-evenly;
}